{% extends 'blog/base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% load blog_extras %}
{% load static %}
<script src="{% static 'blog/js/handle-reaction.js' %}"></script>
<script src="{% static 'blog/js/infinite-scroll.js' %}"></script>


<div class="d-flex justify-content-between my-3">
    <h1>Blog Home</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'post-new' %}" class="btn btn-primary">Create New Post</a>
    {% endif %}
</div>

<div id="posts-container" class="list-group">
    {% include "blog/_post_list.html" %}
</div>
{% endblock %}